h1{
	font-family: 'Cormorant Upright', serif;
	color: #f8d3c5;
	font-size: 3rem;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.2px #fceee9; /*CSS3 Technique: shadows*/
}

/*CSS3 Technique Animation on header*/
.box{
    animation-name: myanimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes myanimation{
    0% {color: #f8d3c5;}
    25% {color:lightsalmon;}
    50% {color: lightcoral;}
    100% {color: #f8d3c5;}
}

h2{
	font-family: 'Cormorant Upright', serif;
	color: #f8d3c5;
	text-align: center;
	font-size: 2rem;
}

p{
	font-family: 'Cormorant Upright', serif;
	text-align: center;
    font-size: 1.5rem;
    color: #dde6d5;

}

header{
	display: inline-block;

	width: 100%;
	top:0; 
}

/*CSS3 Technique: gradients*/
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,123,104,1) 49%, rgba(0,212,255,1) 100%);
}

figcaption{
	font-family: 'Cormorant Upright', serif;
	color: #fceee9;
	text-align: center;

}

/*CSS3 Technique: Transparency*/
img:hover{
	opacity: .75;
}

nav {
	margin-top: 5%;
}

nav ul{
	list-style-type: none;
	text-align: center;
	background-color:#f8d3c5;
	padding: 1%;
}

nav ul li{
	display: inline;
	font-size: 1.75rem;
	font-family: 'Cormorant Upright', serif;
	color: #667b68;
	padding: 1%;
	text-decoration: underline;
}

section{
	max-width: 767px; 
	display: inline-block;
}

aside{
	padding: 3%;
	margin-top: 3%;
}

figure img{
	margin: 0 auto;
	max-width:  100%;
} 

footer{
	background-color: #667b68;
	color: #667b68;
	padding:3%;

}



/*@media (max-width: 1000px) and (min-width: 726px)

Phones: 320 - 767
Tablets: 768 - 1023
Desktop: 1024+ */

@media(min-width: 768px) and (max-width: 1023px){
	nav ul li{
		font-size: 1.0rem;
	}
	section{
		max-height: 1023px;
          overflow: hidden; 
    }
    
    aside img{
		margin: 0%;
		width: 27%;
		float: center;
		max-width: 27%;
		padding:2%;
		
	}
}

@media(min-width: 1024px){
	h1{
		font-size: 5rem;
	}
	h2{
		font-size: 3rem;
	}
	p{
		font-size: 1.50rem;
	}
	nav ul li{
		font-size: 1.25rem;
    }
     header img{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 100%;  
     }

	section{
		max-width: 1350px;
		overflow: hidden; 
		padding: 3%;
		margin-left: 2%;
	}

	aside img{
		margin: 0%;
		width: 27%;
		float: center;
		max-width: 27%;
		padding:3%;
		
	}

	footer{
		clear: both;
	}
}