/*Hamburger Menu*/
label .menu {
	position: absolute;
	right: -100px;
	top: -100px;
	z-index: 100;
	width: 200px;
	height: 200px;
	background: rgb(91, 185, 181);
	border-radius: 50% 50% 50% 50%;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	box-shadow: 0 0 0 0 rgb(91, 185, 181), 0 0 0 0 rgb(91, 185, 181);
	cursor: pointer;
  }
  
  label .hamburger {
	position: absolute;
	top: 135px;
	left: 50px;
	width: 30px;
	height: 2px;
	background: #000;
	display: block;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
  }
  
  label .hamburger:after, label .hamburger:before {
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; }
  
  label input:checked + .menu {
	box-shadow: 0 0 0 100vw rgb(91, 185, 181), 0 0 0 100vh rgb(91, 185, 181);
	border-radius: 0;
  }
  
  label input:checked + .menu .hamburger {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  label input:checked + .menu .hamburger:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	bottom: 0;
  }
  
  label input:checked + .menu .hamburger:before {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 0;
  }
  
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
	z-index: 200;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: .25s 0s ease-in-out;
	transition: .25s 0s ease-in-out;
  }
  
  label a {
	margin-bottom: 1em;
	display: block;
	color: rgb(16, 32, 15);
	text-decoration: none;
  }
/***********/
h1{
	font-family: 'Cormorant Upright', serif;
	color: #f8d3c5;
	font-size: 3rem;
    text-align: center;
	text-shadow: 0.5px 0.5px 0.2px #fceee9; /*CSS3 Technique: shadows*/
}


p{
    font-family: 'Cormorant Upright', serif;
    text-align: center;
    font-size: 1.5rem;
    color: #dde6d5;
}

header{
	display: inline-block;

	width: 100%;
	top:0; 
}

body{
    background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,123,104,1) 49%, rgba(0,212,255,1) 100%);
	margin: 0;
	padding: 0;
}

figure img{
	margin: 0 auto;
	max-width:  100%;
}

    .container{
    margin: 0 auto;
	max-width:  100%;
    /*max-width: 767px;*/
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-column-gap: 100px;
    align-content: center;
}
section{
    align-content: center;
}

footer{
	background-color: #667b68;
	color: #667b68;
	padding:3%;

}




/*@media (max-width: 1000px) and (min-width: 726px)

Phones: 320 - 767
Tablets: 768 - 1023
Desktop: 1024+ */

 @media(max-width: 768px){
    .container{
        margin: 0 auto;
        max-width:  100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-row-gap: 30px;
    }

    img{
        align-content: center;
        margin: 0 auto;
        max-width:  100%;
   
}





} 
/*///////////////////////////*/
@media(min-width: 768px) and (max-width: 1023px){
	
	h2{
        top:10%;
        text-align: center;
        size: 2.5em;
    }
	
	nav ul li{
		font-size: 1.0rem;
    }

    .container{
        margin: 0 auto;
        max-width:  100%;
        /*max-width: 767px;*/
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-column-gap: 100px;
        align-content: center;
    }
  

   
    footer{
		clear: both;
	}

@media (min-width: 1024px){
	h1{
		font-size: 5rem;
	}
	p{
		font-size: 1.50rem;
	}
	nav ul li{
		font-size: 1.25rem;
    }

    .container{
        margin: 0 auto;
        max-width:  100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-row-gap: 30px;
    }
    section figure{
		margin: 0%;
		width: 50%;
		float: left;
		max-width: 50%;
		padding:3%;
		
	}
    
    section p{
        text-align: center;
        margin: 0%;
		width: 50%;
		float: right;
		max-width: 50%;
        padding:3%;
    }
    
    footer{
		clear: both;
	}
}